@font-face {
    font-family: apercu;
    src: url(../assets/fonts/apercu-light-pro.woff2);
}
@font-face {
    font-family: stallman;
    src: url(../assets/fonts/stallman-regular.woff2);
}
@font-face {
    font-family: bank-sans;
    src: url(../assets/fonts/bank-sans-compressed.woff2);
}
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
:root{
    --white: #FFFFFF;
    --white-80: rgba(255,255,255,.8);
    --white-40: rgba(255,255,255,.4);
    --pink: #E593F0;
    --apercu: apercu, sans-serif;
    --stallman: stallman, sans-serif;
    --bank-sans: bank-sans, sans-serif;
}
body{
    background-image: url("../assets/images/background.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 0px;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}
.logo p{
    font-family: var(--stallman);
    line-height: 80%;
}
.logo p:nth-child(1){
    font-size: 18px;
}
.logo p:nth-child(2){
    font-size: 35px;
}
nav{
    padding: 20px;
}
nav ul{
    display: flex;
    gap: 20px;
}
ul li{
    list-style: none;
}
nav ul li a{
    color: var(--white);
    font-family: var(--bank-sans);
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}
nav ul li a i{
    font-size: 13px;
}
ul li a:hover, ul li a:hover i{
    color: var(--pink);
    filter: drop-shadow(0 0 10px var(--pink));
    transition: .2s;
}
.buttons{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.buttons button{
    background: none;
    width: 50px;
    aspect-ratio: 1/1;
    position: relative;
    border: none;
    border: solid 1px var(--pink);
    border-radius: 50%;
}
.buttons button i{
    color: var(--white);
    font-size: 12px;
    transition: .2s;
}
.buttons button:hover > i{
    font-size: 14px;
    transition: .2s;
}
.buttons button ul{
    width: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-100%) translateY(-50%);
    transition: .2s;
    overflow: hidden;
}
.buttons button:hover ul{
    width: 250%;
    padding: 20px;
    opacity: 1;
    transition: .2s;
}
.buttons button ul li a i{
    font-size: 14px;
}
.down{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    border: solid 1px var(--white-40);
    border-radius: 50%;
    overflow: hidden;
}
.down .icon{
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    animation: arrowAnimation 3s ease-in-out infinite;
}
@keyframes arrowAnimation{
    0%{
        margin-top: -50px;
    }
    50%{
        margin-top: 0px;
    }
    70%{
        margin-top: 0px;
    }
    100%{
        margin-top: 50px;
    }
}
.down .icon i{
    color: var(--white-40);
}
.sections{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--white);
    font-family: var(--stallman);
    font-size: 164px;
    letter-spacing: 2px;
    line-height: 60%;
}
h1 span + span{
    font-family: var(--bank-sans);
    font-size: 36px;
}
h1 span + span + span{
    font-size: 164px;
}
.line{
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% + 6px));
}
.line:nth-child(1){
    left: 0;
}
.line:nth-child(2){
    right: 0;
    transform: translateY(calc(-50% + 6px)) rotateY(180deg);
}
.section-1 .text-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 104px;
    left: 50%;
    transform: translateX(-50%);
}
p{
    color: var(--white);
    font-family: var(--apercu);
}
p.center{
    width: 60%;
    text-align: center;
    color: var(--white-80);
    font-size: 15px;
}
p.center:nth-child(1){
    font-family: var(--bank-sans);
    font-size: 18px;
    margin-bottom: 16px;
}
.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.section-2 figure{
    width: 450px;
    position: relative;
    display: flex;
    justify-content: center;
}
.section-2 p{
    width: 500px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.section-3{
    align-items: start;
}
.w-50{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.w-50 .title{
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: var(--white);
    font-family: var(--stallman);
    font-size: 164px;
    letter-spacing: 2px;
    line-height: 60%;
}
.w-50 .title span:nth-child(3){
    font-size: 30px;
}
.w-50 .line:nth-child(1){
    top: 50px;
    left: 0;
}
.w-50 .line:nth-child(2){
    top: 50px;
    right: 0;
    transform: translateY(calc(-50% + 6px)) rotateY(180deg);
}
.w-50 p{
    width: 300px;
    margin-bottom: 20px;
    color: var(--white-80);
    text-align: center;
}
.w-50 a{
    width: 90px;
    color: var(--pink);
    font-family: var(--bank-sans);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    opacity: .9;
}
.snow{
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: .5;
    filter: blur(1px);
}
.button-figure{
    height: 50px;
    position: absolute;
    top: 50%;
}
.button-figure:nth-child(1){
    left: -40px;
    transform: translateY(-50%);
    transition: .5s ease-in-out;
}
.button-figure:nth-child(2){
    right: -40px;
    transform: translateY(-50%) rotateZ(180deg);
    transition: .5s ease-in-out;
}

a:hover .button-figure:nth-child(1){
    left: -50px;
    transition: .5s ease-in-out;
}
a:hover .button-figure:nth-child(2){
    right: -50px;
    transition: .5s ease-in-out;
}
.section-4{
    align-items: start;
}
.section-4 .w-50 .title{
    width: 520px;
}
.section-5{
    align-items: end;
}
.photos{
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
.photos figure{
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.photos img{
    width: 170px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    filter: grayscale(1);
    transition: .5s;
}
.photos figure:hover img{
    filter: grayscale(0);
    transition: .5s;
}
.photos p{
    width: 100%;
    font-family: var(--bank-sans);
    font-size: 14px;
    text-transform: uppercase;
}
.section-6{
    align-items: start;
}
h3{
    color: var(--white-80);
    font-family: var(--bank-sans);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.section-6 .photos{
    width: 400px;
}
.section-6 .photos img{
    width: 400px;
    aspect-ratio: 2/1;
    filter: grayscale(1);
    border-radius: 12px;
    border: 2px solid var(--white);
    filter: grayscale(.5);
    transition: .5s;
}
.section-6 .photos:hover img{
    filter: grayscale(.5);
}
.section-7{
    align-items: end;
}
